div#missionTitle {
  right: calc(45vw + 65px) !important;
}

.side-nav {
  right: calc(45vw + 0px) !important;
  display: none;
}
a#hamburger {
  right: calc(45vw + 20px);
}

#sidenav-overlay {
  right: 45vw !important;
}
button.green {
  background-color: #6b9658 !important;
  color: white;
}
button.green:hover {
  background-color: #557846 !important;
  color: grey;
}
button#resetSimulator {
  position: absolute !important;
  right: 23vw;
  top: 90vh;
}
button#fullScreen {
  position: absolute !important;
  right: 18vw;
  top: 90vh;
}
button#toggleGrid {
  position: absolute !important;
  right: 13vw;
  top: 90vh;
}
