div#missionTitle {
  right: calc(45vw + 65px) !important;
}

.side-nav {
  right: calc(45vw + 0px) !important;
  display: none;
}
a#hamburger {
  right: calc(45vw + 20px);
}

#sidenav-overlay {
  right: 45vw !important;
}

button#resetSimulator {
  position: absolute !important;
  right: 17vw;
  top: 90vh;
  background-color: #17c750 !important;
  color: white;
}
button#resetSimulator:hover {
  background-color: #8ff804 !important;
  color: grey;
}
