.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    margin: 0;
    cursor: pointer;
    float: left;
    width: 50%;
}
  
.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}

.tab-list-active {
    background-color: white;
    border: solid #666;
    border-width: 1px 1px 0 1px;
}

#add-new-tab {
    display: inline-block;
    background-color: aqua;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}

.close-tab {
    font-weight: bold;
    font-size: 10px;
    color: #4e4d4d;
}