/* Takeoff */
div#blockly-1 {
    background-color: #264653 !important;
    padding: 10px !important;
    color: #FFFFFF !important;
  }
  
  div#blockly-1 .blocklyTreeRow:hover {
    background-color: #172B33 !important;
  }
  
  div#blockly-1 .blocklyTreeSelected {
    background-color: #172B33 !important;
  }
  
  /* Navigation */
  div#blockly-2 {
    background-color: #2A9D8F !important;
    padding: 10px !important;
    color: #FFFFFF !important;
  }
  
  div#blockly-2 .blocklyTreeRow:hover {
    background-color: #1E7268 !important;
  }
  
  div#blockly-2 .blocklyTreeSelected {
    background-color: #1E7268 !important;
  }
  
  /* Flip */
  div#blockly-3 {
    background-color: #00688B !important;
    padding: 10px !important;
    color: #FFFFFF !important;
  }
  
  div#blockly-3 .blocklyTreeRow:hover {
    background-color: #33A1DE !important;
  }
  
  div#blockly-3 .blocklyTreeSelected {
    background-color: #33A1DE !important;
  }

  /* LED */
  div#blockly-4 {
    background-color: #f988fd !important;
    padding: 10px !important;
    color: #FFFFFF !important;
  }
  
  div#blockly-4 .blocklyTreeRow:hover {
    background-color: #c649ca !important;
  }
  
  div#blockly-4 .blocklyTreeSelected {
    background-color: #c649ca !important;
  }
  
  /* Loops */
  div#blockly-5 {
    background-color: #E9C46A !important;
    padding: 10px !important;
    color: #FFFFFF !important;
  }
  
  div#blockly-5 .blocklyTreeRow:hover {
    background-color: #AD924E !important;
  }
  
  div#blockly-5 .blocklyTreeSelected {
    background-color: #AD924E !important;
  }
  
  /* Logic */
  div#blockly-6 {
    background-color: #aa3a3a !important;
    padding: 10px !important;
    color: #FFFFFF !important;
  }
  
  div#blockly-6 .blocklyTreeRow:hover {
    background-color: #662121 !important;
  }
  
  div#blockly-6 .blocklyTreeSelected {
    background-color: #662121 !important;
  }
  
  /* Math */
  div#blockly-7 {
    background-color: #5a65a7 !important;
    padding: 10px !important;
    color: #FFFFFF !important;
  }
  
  div#blockly-7 .blocklyTreeRow:hover {
    background-color: #373e66 !important;
  }
  
  div#blockly-7 .blocklyTreeSelected {
    background-color: #373e66 !important;
  }
  
  /* Variables */
  div#blockly-8 {
    background-color: #a65a80 !important;
    padding: 10px !important;
    color: #FFFFFF !important;
  }
  
  div#blockly-8 .blocklyTreeRow:hover {
    background-color: #723e58 !important;
  }
  
  div#blockly-8 .blocklyTreeSelected {
    background-color: #723e58 !important;
  }
  
  /* Functions */
  div#blockly-9 {
    background-color: #995ba5 !important;
    padding: 10px !important;
    color: #FFFFFF !important;
  }
  
  div#blockly-9 .blocklyTreeRow:hover {
    background-color: #9400D3 !important;
  }
  
  div#blockly-9 .blocklyTreeSelected {
    background-color: #9400D3 !important;
  }
  
  /* Land */
  div#blockly-a {
    background-color: #E76F51 !important;
    padding: 10px !important;
    color: #FFFFFF !important;
  }
  
  div#blockly-a .blocklyTreeRow:hover {
    background-color: #B2553E !important;
  }
  
  div#blockly-a .blocklyTreeSelected {
    background-color: #B2553E !important;
  }
  /* End block category styling */

  /* For LED headers */
  .led-header > .blocklyFlyoutLabelText {
    font-size: 16px !important;
    font-weight: bolder !important;
  }